.footer {
    font-family: 'DM Sans', sans-serif;
    background-color: $white;

    &__container {
        color: $white;
        position: relative;
        max-width: 1200px;
        margin: auto;
    }

    &__cta {
        background-color: $title-color;

        &__container {
            padding: $spacing-xl $spacing-lg;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 60px;
            flex-wrap: wrap;
            margin-bottom: 60px;
            max-width: 1200px;
            margin: auto;
        }
    }

    &__cta-texts {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 877px;
    }

    &__title {
        font-size: $font-size-hero;
        font-family: 'Gallery Modern', serif;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 1;
        margin: 2rem 0 0;

        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 26px;
        color: white;
    }

    &__cta-button-circle {
        width: 9.5rem;
        height: 9.5rem;

        border-radius: $border-radius-circle;
        font-size: $font-size-default;
        background-color: $primary-color-1;
        color: $title-color;
        border: none;
        font-size: $font-size-md;
        font-family: $font-default;
        font-weight: 700;
        text-transform: capitalize;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: lighten($primary-color-1, 10%);
        }
    }

    &__cta-button-circle:hover {
        background-color: #d8ff7e;
    }

    &__cta-icon {
        font-family: 'Font Awesome 6 Pro', sans-serif;
        font-weight: 900;
    }

    &__divider {
        height: 2px;
        background-color: $border-color;
        margin: 60px 0 40px;
        display: none;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        padding: 2rem 60px;
        gap: 30px;
    }

    &__links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        border-bottom: 1px solid rgb(204, 204, 204);
        padding: 1.5rem 0;
    }

    &__links-left,
    &__links-right {
        display: flex;
        gap: 48px;
        flex-direction: column;

        @media (max-width: 768px) {
            gap: 1rem;
        }
    }

    &__links a {
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 26px;
        text-decoration: none;
    }

    &__links a,
    &__copyright,
    &__socials a {
        color: $title-color;
    }

    &__bottom-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__socials {
        display: flex;
        gap: 20px;
    }

    &__socials a {
        font-size: $font-size-default;
        font-family: 'Font Awesome 6 Brands', sans-serif;
    }

    &__copyright {
        font-size: $font-size-default;
        font-weight: 400;
        line-height: 26px;
    }
}