.experience {
    background-color: #111;

    &__container {
        color: white;
        padding: 3rem 8rem 102px 8rem;
        max-width: 1200px;
        margin: auto;

        @media (max-width: 768px) {
            padding: 2rem 3rem;
        }
    }


    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__intro {}

    &__title {
        font-size: 2rem;
        font-weight: 400;
        max-width: 800px;
        text-align: left;
        font-family: "Marcellus", serif;
        line-height: 1.4;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }

    &__details {
        display: flex;
        gap: 3rem;
        padding: 2rem 0 0 91px;
        flex-wrap: wrap;
        align-items: flex-start;

        @media (max-width: 768px) {
            padding: 1rem 0;
        }
    }

    &__years {
        margin-right: 5rem;
    }

    &__number {
        font-size: 48px;
        margin: 0;
        text-align: left;
    }

    &__label {
        font-size: 14px;
        margin: 0;
        font-weight: bold;
        text-align: left;
    }

    &__block {
        flex: 2;
        max-width: 300px;

        @media (max-width: 768px) {
            flex: unset;
        }
    }

    &__text {
        font-size: 14px;
        margin-bottom: 40px;
        text-align: left;
        color: #f5f5f5;
        font-family: $font-default;
        line-height: 26px;
    }

    &__button {
        position: relative;
        background: unset;
        color: #ffffff;
        border: none;
        padding: 4px 0;
        cursor: pointer;
        font-weight: 500;
        border-radius: 0;
        font-size: 0.8rem;
        overflow: hidden;
        border-bottom: 2px solid #ffffff;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: $primary-color-1;
            transition: width 0.3s ease;
            z-index: 1;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__brands {
        margin-top: 50px;
        padding-top: 100px;
        max-width: 1200px;
        margin: auto;

        @media (max-width: 768px) {
            padding-top: 3rem;
        }
    }

    &__brands-wrapper {
        position: relative;
        width: 100%;
    }

    &__brands-title {
        position: relative;
        padding: 0 .5rem;
        color: white#000;
        background-color: #111;
        display: inline-block;
        font-size: 1rem;
        margin-left: 15%;
        z-index: 1;
        font-family: "Marcellus", serif;
    }

    &__brands-wrapper::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #333;
        z-index: 0;
    }

    &__logos {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-top: 2rem;

        @media (max-width: 768px) {
            overflow: scroll;
        }
    }

    &__logos img {
        opacity: 0.8;
        width: 15%;
        scale: .9;

        @media (max-width: 768px) {
            width: 100px;
        }
    }
}