.hero {
    background-color: $smoke-color-2;
    background: url(/Texture.png);
    line-height: 0;
    
    &__container {
        padding: 4rem 12rem 4rem 8rem;
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: auto;

        @media (max-width: 768px) {
            padding: 3rem 1rem;
        }
    }

    &__banner {
        width: 100%;
    }

    &__tagline p {
        font-family: $font-default;
        font-size: $font-size-md;
        color: $title-color;
        text-transform: capitalize;
        line-height: 1.6;
    }

    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &--middle {
            display: flex;
            gap: 3rem;

            @media (max-width: 768px) {
                padding: 2rem 1rem;
                gap: 1rem;
            }
        }

        &--bottom {
            padding-top: 3rem;
            gap: 6rem;

            @media (max-width: 768px) {
                padding-top: 0rem;
                gap: 2rem;
            }
        }
    }


    &__title {
        font-family: $font-display;
        font-weight: 400;
        height: 25vh;
        margin: 0;
        color: $text-color;
        line-height: 1.1;
        flex-grow: 1;

        @media (max-width: 768px) {
            height: 4rem;
        }
    }

    &__right {
        flex: 1 1 50%;
        max-width: 520px;
        text-align: end;

        @media (max-width: 768px) {
            text-align: center;
        }
    }

    &__description {
        font-family: $font-default;
        font-size: .9rem;
        color: $text-color;
        line-height: 1.6;
        text-transform: capitalize;
        max-width: 80%;
        text-align: end;
        text-align: left;
        margin-bottom: 1rem;
    }

    &__button {
        padding: 0.3rem .5rem;
        background-color: unset;
        color: $black;
        border: none;
        border-bottom: 2px solid $black;
        font-size: $font-size-md;
        font-weight: 500;
        border-radius: 0;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        text-transform: capitalize;
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    &__reviews {
        position: absolute;
        right: 10%;
        top: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    &__avatars {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid $black;
        border-radius: 2rem;
        padding: .5rem .5rem .5rem 1.5rem;
    }

    &__avatars img {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: $text-color;
        margin-left: -1rem;
    }

    &__avatar-count {
        background-color: $text-color;
        color: $white;
        font-size: 14px;
        font-family: $font-hero;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $white;
        margin-left: -1rem;
        font-weight: 600;
    }

    &__rating {
        font-size: 14px;
        color: $text-color;
    }

    &__rating strong {
        font-weight: 700;
        font-size: 16px;
    }

    &__web-design {
        background-color: $primary-color-1;
        border-radius: 2rem;
        padding: 1.5rem 4rem 1.5rem 2rem;
        font-family: $font-hero-web;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $text-color;
        display: flex;
        align-items: center;
        position: relative;
        line-height: 1;
        gap: 1rem;
    }

    &__emoji {
        width: 90px;
        height: 95px;
        background-color: $text-color;
        border-radius: 1.5rem;
        position: absolute;
        padding: 1rem;
        top: 0;
        right: -3.5rem;
    }
}