.services {
    background-color: $white;

    &__container {
        padding: 60px 40px;
        font-family: sans-serif;
        color: $black;
        max-width: 1200px;
        margin: auto;

         @media (max-width: 768px) {
            padding: 2.5rem;
        }
    }

    &__label {
        max-width: 700px;
        margin: auto;
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        color: #888;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 47px;
        max-width: 700px;
        font-weight: 500;
        margin: auto;
        font-family: $font-title;
    }

    &__description {
        max-width: 450px;
        font-size: 14px;
        color: #666;
        text-transform: capitalize;
        border-left: 2px solid #ddddddb6;
        padding: 2rem 4rem;
        margin: 2rem auto 4rem;
        color: #797E88;
        line-height: 26px;

         @media (max-width: 768px) {
            margin: 2rem auto;
            padding: 2rem;
        }
    }

    &__grid {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        border-top: 1px solid $border-color;
        padding: 4rem 0 0;

         @media (max-width: 768px) {
            padding: 2rem 0;
        }
    }

    &__card {
        position: relative;
        flex: 1;
        min-width: 250px;
        border: 1px solid #ddd;
        padding: 2rem;
        border-radius: .2rem;
        transition: border 0.3s;

        &:hover {
            border: 1px solid $primary-color-1;

            .services__button {
                background-color: $primary-color-1;
            }

            .services__button svg {
                transform: rotate(-45deg);
            }
        }
    }

    &__category {
        font-size: 12px;
        color: #777;
    }

    &__card-title {
        font-size: 30px;
        margin: 30px 0;
        font-family: $font-title;
    }

    &__card-text {
        font-size: 13px;
        color: #666;
        line-height: 1.5;
        margin: 30px 0 0;
        text-transform: capitalize;
    }

    &__icon {
        margin-bottom: 10px;

        img {
            width: 60px;
        }
    }

    &__button {
        position: absolute;
        bottom: -5px;
        right: -5px;
        border: none;
        background-color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            transition: transform 0.4s ease;
        }
    }
}