.workflow {
    background-color: white;

    &__container {
        padding: 60px 40px;
        font-family: sans-serif;
        color: black;
        max-width: 1200px;
        margin: auto;
    }

    &__label {
        font-size: 14px;
        color: #999;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    &__title {
        font-size: 54px;
        text-align: center;
        font-weight: 500;
        margin: auto;
        font-family: "Marcellus", serif;
    }

    &__steps {
        display: flex;
        padding-top: 60px;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    &__step {
        // width: 220px;
        /* text-align: center; */
        position: relative;
    }

    &__icon-circle {
        display: flex;
        justify-content: space-between;
        /* width: 60px;
    height: 60px; */
        /* border: 1px solid #ccc; */
        /* border-radius: 50%; */
        /* margin: 0 auto 10px; */
        /* display: flex;
    align-items: center;
    justify-content: center; */
    }

    &__icon {
        /* font-size: 24px; */
    }

    &__icon img {
        width: 70px;
    }

    &__number {
        font-size: 3rem;
        font-weight: bold;
        color: #999;
        display: block;
        margin: 10px 0;
    }

    &__arrow {
        /* background-color: red; */
        display: block;
        flex-grow: 1;
        position: relative;
    }


    &__arrow::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 88%;
        height: 1px;
        background-color: black;
        z-index: 0;
    }

    &__arrow::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 10px solid black;
        /* mesma cor da linha */
        z-index: 1;
    }

    &__step-title {
        font-size: 16px;
        font-weight: 500;
        margin: 2rem 0;
    }

    &__step-text {
        font-size: 16px;
        color: #666;
        line-height: 1.4;
    }

    /* &__arrow {
    width: 40px;
    height: 1px;
    background-color: #ccc;
    position: relative;
  } */

    /* &__arrow::after {
    content: "→";
    position: absolute;
    right: -16px;
    top: -10px;
    color: #ccc;
    font-size: 18px;
  } */
}